<div id="rightPanel" class="pull-right full-height"></div>
<div id="header">{{date}}</div>

<div id="main" class="full-height" ng-repeat="event in eventsInDate | orderByPriority | limitTo: 1">
    <h2>{{event.title}}</h2>
    {{event.details}}

    <div id="control"></div>
    <button type="button" class="btn btn-lg  btn-danger" ng-hide="hideNext" ng-click="goTo('next')">Next</button>
    <button type="button" class="btn btn-lg  btn-warning" ng-hide="hidePrev" ng-click="goTo('prev')">Previous</button>
</div>


